%html
  -photo1 = "hello"
  = render "header"
  %body
    .cover
      .close-button
      .videoBox
        %iframe#ifram.iframeOne{:allowscriptaccess => "always", :frameborder => "0"}
    = render "top"
    .subpage-belt1
      .boxes-heading.subpage
        = @page_info.title
      .boxes
        .box 
          .boxPicture{:style => "background-image:url(#{@top.picture})", :href => "#{@top.link}"}
        .box
          .boxText
            = simple_format(@page_info.text_main)
            = @pict
            = @url
    .examples
      .examples-slick
        %div
          %img{:src => "/images/1.jpg"}
        %div 
          %img{:src => "/images/2.jpg"}
        %div 
          %img{:src => "/images/3.jpg"}
    .sub-bottom
      .contact-us
        .boxes-heading.subpage Contact Us
        = render "contactusform"
      = render "bottom"
= render "footer"