%html
  -photo1 = "hello"
  = render "header"
  %body
    .cover
      .close-button
      .videoBox
        %iframe#ifram.iframeOne{:allowscriptaccess => "always", :frameborder => "0"}
    = render "top"
    .subpage-belt1
      .boxes-heading.subpage
        = @page_info.title
      .boxes
        .box
          %iframe.iframeTwo{:allowfullscreen => "", :frameborder => "0", :src => "#{@top.link}"}
        .box
          .boxText
            = simple_format(@page_info.text_main)
    .examples
      .button-overlay
        .button-holder
          %button.btn.btn-primary.boxVideo{:type => "button", :href => "#{@set.first.link}"} 
            %span.glyphicon.glyphicon-play{"aria-hidden" => "true"}
            %span.button-label Watch
        .button-holder
          %button.btn.btn-primary.boxVideo{:type => "button", :href => "#{@set.second.link}"} 
            %span.glyphicon.glyphicon-play{"aria-hidden" => "true"}
            %span.button-label Watch
        .button-holder
          %button.btn.btn-primary.boxVideo{:type => "button", :href => "#{@set.third.link}"} 
            %span.glyphicon.glyphicon-play{"aria-hidden" => "true"}
            %span.button-label Watch
      .examples-slick
        %div
          %img{:src => "#{@set.first.picture}", :href => "@{@set.first.link}"}
        %div 
          %img{:src => "#{@set.second.picture}", :href => "@{@set.second.link}"}
        %div 
          %img{:src => "#{@set.third.picture}", :href => "@{@set.third.link}"}
    .sub-bottom
      .contact-us
        .boxes-heading.subpage Contact Us
        = render "contactusform"
      = render "bottom"
= render "footer"