%html
  -photo1 = "hello"
  = render "header"
  %body
    = render "top"
    .subpage-belt1
      .boxes-heading.subpage
        = @u.title
      = render @box
    .examples
      .button-overlay
        .button-holder
          %button.btn.btn-primary.boxPicture{:type => "button", :href => "/p?page=#{@u.photo_sub_1_link}"} 
            %span.glyphicon.glyphicon-play{"aria-hidden" => "true"}
            %span.button-label #{@subPageTitle.first}
        .button-holder
          %button.btn.btn-primary.boxPicture{:type => "button", :href => "/p?page=#{@u.photo_sub_2_link}"} 
            %span.glyphicon.glyphicon-play{"aria-hidden" => "true"}
            %span.button-label #{@subPageTitle.second}
        .button-holder
          %button.btn.btn-primary.boxPicture{:type => "button", :href => "/p?page=#{@u.photo_sub_3_link}"} 
            %span.glyphicon.glyphicon-play{"aria-hidden" => "true"}
            %span.button-label #{@subPageTitle.third}
      .examples-slick
        %div
          = link_to(image_tag("#{@u.photo_sub_1}"), p_path(:page => "#{@u.photo_sub_1_link}"), class: ".testClass")
        %div 
          = link_to(image_tag("#{@u.photo_sub_1}"), p_path(:page => "#{@u.photo_sub_2_link}"), class: ".testClass")
        %div 
          = link_to(image_tag("#{@u.photo_sub_1}"), p_path(:page => "#{@u.photo_sub_3_link}"), class: ".testClass")
    .sub-bottom
      .contact-us
        .boxes-heading.subpage Contact Us
        = render "contactusform"
      = render "bottom"
= render "footer"