%html
  = render "header"
  %body
    = render "top"
    .subpage-belt1
      .boxes-heading.subpage Animated Videos
      .boxes
        .box 
          .boxPicture
        .box
          .boxText
            and here goes the rest of the text. Can I add it here? I hope I can, after all
            should I choose window maker? Welcome to maypole film, here you will find a number
            of different options you can selection from. Firstly, if you so which, you can choose
            from our long list of things. Ah yes, the long list of things! How we rejoice
            because we have such a list!
            %br/
            %br/
            ************************
            %br/
            %br/
            and now I am going to write here as well. There's lots of reasons for me to do so,
            but the most important is that all of this is totally necessary.
            of different options you can selection from. Firstly, if you so which, you can choose
            from our long list of things. Ah yes, the long list of things! How we rejoice
            because we have such a list!
            %br/
            %br/
            ************************
            %br/
            %br/
            of different options you can selection from. Firstly, if you so which, you can choose
            from our long list of things. Ah yes, the long list of things! How we rejoice
            because we have such a list!
    .examples
      .examples-slick
        %div
          %img{:src => "/images/1.jpg"}
        %div 
          %img{:src => "/images/2.jpg"}
        %div 
          %img{:src => "/images/3.jpg"}
    .sub-bottom
      .contact-us
        .boxes-heading.subpage Contact Us
        = render "contactusform"
      = render "bottom"
= render "footer"